keyboard
pyautogui
requests
urllib3
dearpygui
psutil; sys_platform == "win32"
mouse; sys_platform == "win32"
pywin32; sys_platform == "win32"
pyobjc-framework-Quartz; sys_platform == "darwin"
PyGetWindow; sys_platform == "darwin"
